@keyframes shake {
    0%, 100% {
        transform:  rotateZ(0deg);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: rotateZ(3deg);
    }
    20%, 40%, 60%, 80% {
        transform: rotateZ(-3deg);
    }
    25%, 45%, 65%, 85% {
        transform:  rotateZ(5deg);
    }
    15%, 35%, 55%, 75%, 95% {
        transform:  rotateZ(-5deg);
    }
}

.text-animation-shaky {
    transform-origin: 50% 80%;
    display: inline-block; /* Allows transform to apply */
    animation: shake 0.5s infinite;
    animation-timing-function: steps(7, end);
}

// ==============================

@keyframes impact {
    0% {
        transform: scale(1) rotateZ(0deg);
    }
    10% {
        transform: scale(0.3) rotateZ(3deg);
    }
    40%{
        transform: scale(1.1) rotateZ(-7deg);
    }
    80%{
        transform: scale(1) rotateZ(0deg);
    }
}

.text-animation-impact {
    display: inline-block; /* Allows transform to apply */
    animation: impact 1.1s ease-out infinite;
}

// ==============================

@keyframes hasNextDialogArrow_motion {
    0% {
        transform: translateY(-25%);
    }
    10% {
        transform: translateY(0);
    }
    80% {
        transform: translateY(-5%);
    }
    100%{
        transform: translateY(-25%);
    }
}

// ==============================

// .dialog-text-word {
//     margin-left: 0.09em;
// }
.dialog-text-word {
    margin-right: 0.29em;
}

.character-pivot .char-cell{
    position: relative;
    color: white;
    font-size: 1.6rem;

    &:hover{
        .char_options{
            visibility: visible;

            .char_option:hover{
                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }

    .char_options{
        display:none;
        position: absolute;
        right: 0;
        top: 20%;

        visibility: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .char_option{
        background-color: rgba(0, 0, 0, 0.12);
        padding: 4px 8px;
        border-radius: 15px;
        cursor: pointer;
        margin-bottom: 0.5rem;
    }
}


.hasNextDialogArrow{
    position: absolute;
    right: 1%;
    bottom: 4%;
    font-size: 1.6rem;
    color: white;
    animation: hasNextDialogArrow_motion 1.1s ease-out infinite;
}


.playing {
    .dialog-text-char{
        font-size: 2.0rem;
        letter-spacing: 0.00rem;
    }
    .dialog-text-word{
        margin-right: 0.64rem;
    }
}